{% extends 'posts/layout.html' %}
<!-- html for showing the About page -->
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2>About</h2>
            <p class="article-content">This is a blog app for communities, where users can post their own blog posts.
                This project was made for a school project. This project was created using python's Django framework and PostgreSQL.
                Styling of this app was created with Bootstrap CSS.
            </p>
        </div>
    </article>
{% endblock %}
